---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <header class="bg-[#111] text-white py-20 px-10">
    <div class="contenido">
      <p class="bg-[#ffcc00] text-black inline-block px-3 py-1 font-bold text-[12px] mb-5 uppercase">
        Atención al cliente
      </p>
      
      <h1 class="text-5xl font-bold italic leading-none mb-5 uppercase">
        Contáctanos para <br /> 
        <span class="text-[#ffcc00]">Asesoría Técnica</span>
      </h1>
      
      <p class="text-gray-400 max-w-137.5 leading-relaxed">
        Estamos listos para ayudarte con tus proyectos industriales. 
        Escríbenos para cotizaciones por volumen o dudas sobre anclajes.
      </p>
    </div>
  </header>

  <section class="bg-[#efefef] py-20 px-10">
    <div class="flex justify-between gap-10">
      
      <div class="flex-1">
        <p class="font-bold text-black mb-3 text-lg uppercase">Ubicación</p>
        <p class="text-gray-600 leading-normal">
          Guacara, <br /> Carabobo, Venezuela.
        </p>
      </div>

      <div class="flex-1">
        <p class="font-bold text-black mb-3 text-lg uppercase">Teléfonos</p>
        <p class="text-gray-600 leading-normal">
          Ventas: +58 245-5646129 <br /> 
          Soporte: +58 245-5646129
        </p>
      </div>

      <div class="flex-1">
        <p class="font-bold text-black mb-3 text-lg uppercase">Horarios</p>
        <p class="text-gray-600 leading-normal">
          Lunes a Sábado <br /> 
          9:00 AM - 6:00 PM
        </p>
      </div>

    </div>
  </section>
</Layout>