---
import Tarjeta from "../components/Tarjeta.astro";
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout>
  <div class="overflow-x-hidden antialiased">
    
    <header class="flex bg-[#111] text-white pt-15 pb-15 px-15">
      <div class="flex flex-col gap-8">
        <p class="bg-[#ffcc00] text-black font-bold px-6 py-1.5 uppercase tracking-wider w-fit">
          expertos industriales
        </p>

        <h1 class="text-7xl font-bold italic leading-[1.05] uppercase">
          ESPECIALISTAS EN <br />
          <span class="text-[#ffcc00]">TORNILLERÍA</span> <br />
          Y HERRAMIENTAS
        </h1>

        <p class="text-gray-400 max-w-[600px] text-lg">
          precisión de grado industrial para proyectos que requieren resistencia
          absoluta. suministros certificados para ingeniería y construcción.
        </p>

        <div class="flex gap-8 mt-6">
          <button class="bg-[#ffcc00] text-black font-bold py-4 px-12 uppercase text-sm hover:brightness-110 transition-all">
            explorar catálogo
          </button>
          <button class="border-2 border-white text-white font-bold py-4 px-12 uppercase text-sm hover:bg-white hover:text-black transition-all">
            fichas técnicas
          </button>
        </div>
      </div>
    </header>

    <section class="bg-[#f3f4f6] py-32 px-40 border-b border-gray-200">
      <div class="flex justify-between gap-16">
        <div class="flex flex-col flex-1 gap-5">
          <Icon name="line-md--home-twotone" class="text-yellow-700" size={45} />
          <div>
            <p class="font-bold text-black text-xl uppercase mb-3">CERTIFICACIÓN ISO</p>
            <p class="text-gray-600 text-base">Cumplimos con estándares internacionales de seguridad en cada pieza.</p>
          </div>
        </div>

        <div class="flex flex-col flex-1 gap-5">
          <Icon name="typcn--shopping-cart" class="text-yellow-700" size={45} />
          <div>
            <p class="font-bold text-black text-xl uppercase mb-3">LOGÍSTICA PESADA</p>
            <p class="text-gray-600 text-base">Entregas directas a obra con flota propia preparada para gran tonelaje.</p>
          </div>
        </div>

        <div class="flex flex-col flex-1 gap-5">
          <Icon name="healthicons--magnifying-glass" class="text-yellow-700" size={45} />
          <div>
            <p class="font-bold text-black text-xl uppercase mb-3">ASESORÍA TÉCNICA</p>
            <p class="text-gray-600 text-base">Cálculo de necesidades de anclaje y torque profesional por ingenieros.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-[#f9fafb] py-24 px-10 lg:px-40">
      <div class="max-w-7xl mx-auto">
        
        <div class="flex flex-col mb-16 items-start">
          <h2 class="text-black text-4xl font-black italic uppercase tracking-tighter">
            INVENTARIO <span class="text-yellow-600">CRÍTICO</span>
          </h2>
          <div class="h-1.5 w-24 bg-[#ffcc00] mt-3"></div>
        </div>
        
        <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
          <Tarjeta 
            title="Bota de Seguridad"
            description="Protección dieléctrica Pro-Steel."
            image="/bota.jpeg" 
          />

          <Tarjeta 
            title="Juego de Llaves"
            description="Llaves mixtas de acero CR-V."
            image="/llave.jpeg" 
          />

          <Tarjeta 
            title="Tornillo Hexagonal"
            description="Grado 8 de alta resistencia."
            image="/unnamed.png" 
          />
        </div>
      </div>
    </section>

  </div>
</Layout>