---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout>
	<section>
		<p>expertos industriales</p>
		<div>
			<p>Especialistas en Tornillería y Herramienta</p>
			<p>
				Precisión de grado industrial para proyectos que requieren
				resistencia absoluta. Suministros certificados para ingeniería y
				construcción.
			</p>
		</div>
		<div>
			<button>explorar catalogo</button>
			<button>fichas tecnicas</button>
		</div>
	</section>

	<section>
		<img src="/bota.jpeg" alt="bota industrial" />
		<img src="/llave.jpeg" alt="llave inglesa" />
		<img src="/unnamed.png" alt="sierra" />

		<div>
			<p>Certificación ISO</p>
			<p>
				Todos nuestros suministros cumplen con los estándares
				internacionales de seguridad y resistencia mecánica.
			</p>

			<p>Logística Pesada</p>
			Entregas directas a obra o planta con flota propia preparada para cargamentos
			de alto tonelaje.

			<p>
				Asesoría Técnica<p></p>
				Ingenieros a su disposición para el cálculo de necesidades de anclaje
				y torque específico.
			</p>
		</div>

		<Icon name="line-md--home-twotone" size={32} />
		<Icon name="typcn--shopping-cart" size={32} />
		<Icon name="healthicons--magnifying-glass" size={32} />
	</section>
</Layout>
