---
const title = Astro.props.title
const description = Astro.props.description
const image = Astro.props.image
---

<div class="flex-1 border border-black flex flex-col bg-white">
  <div class="bg-gray-100 py-10 px-5 flex justify-center">
    <img src={image} alt={title} class="h-40 object-contain" />
  </div>

  <div class="py-6 px-6 flex flex-col gap-2">
    <p class="font-bold uppercase text-black text-lg leading-tight">{title}</p>
    <p class="text-gray-500 text-xs">{description}</p>
    
    <button class="border border-black py-3 mt-5 font-bold uppercase text-[10px] hover:bg-black hover:text-white transition-all">
      Añadir al carrito
    </button>
  </div>
</div>