---
import { Icon } from "astro-icon/components";

const titulo = Astro.props.titulo;
const subtitle = Astro.props.subtitle;
const icon = Astro.props.icon;
---

<div class="flex flex-col flex-1 gap-5">
  <Icon name={icon} class="text-yellow-700" size={52} />
  <div>
    <p class="font-bold text-black text-xl uppercase mb-3">{titulo}</p>
    <p class="text-gray-600 text-base leading-relaxed">
      {subtitle}
    </p>
  </div>
</div>
