--- 
const { title } = Astro.props;
const { description } = Astro.props;
const image = Astro.props.image || 'https://astro.build/og-image.png';
---

<div class="flex-1 border border-gray-800 flex flex-col">
  <div class="bg-gray-50 py-12 px-8 flex justify-center">
    <img src={image} alt={title} class="h-48 object-contain" />
  </div>
  
  <div class="py-8 px-8 flex flex-col gap-2">
    <h3 class="text-lg font-bold uppercase leading-tight">{title}</h3>
    
    <p class="text-gray-600 text-sm">{description}</p>
    
    <button class="border border-black py-3 mt-6 font-bold uppercase text-xs">
      Añadir al carrito
    </button>
  </div>
</div>